@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.ota{
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    background-color: #101220;
    position: relative;
}
.nav{
    width: 100%;
    /* height: 64px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 40px; */
    font-family: "Poppins", sans-serif;
}
.nav_start{
    display: flex;
    gap: 29px;
    margin-top: 20px;
    margin-left: 40px;
    /* position: relative; */
}
.nav_start h1{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}
.nav_start ul{
    color: #ffffff;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    /* position: absolute; */
    left: 302px;
}
ul li ul{
    width: 99px;
    height: 111px;
    background-color: #232028;
    border-radius: 10px;
    padding: 11px;
    box-shadow: 0px 0px 11px 0px #FFFFFF;
    display: none;
    /* position: absolute;
    left: 300px;  */
}
ul li ul li{
    font-size: 10px;
    font-weight: 600;
    width: 78px;
    height: 20px;
    border-radius: 10px;
    background-color: #030303;
    margin-bottom: 11px;
    text-align: center;
    align-items: center;
    padding-top: 3px;
}
ul li ul li:hover{
    background-color: #BFAFF2;
    color: #232028;
}
.nav_start ul li:hover > ul {
    display: block;
}
.nav_end{
    display: flex;
    gap: 24px;
    margin-top: 15px;
    margin-right: 57px;
    position: relative;
}
.nav_end p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    text-align: center;
    margin-top: 9px;
}
.btn{
    width: 175px;
    height: 50px;
    background-color: #BFAFF2;
    color: #333333;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
}
.s1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 418px 40px 0 40px;
    font-family: "Outfit", sans-serif;
}
.s1_content{
    width: 325px;
    height: 240px;
    background-color: #232028;
    border-radius: 32px;
    padding-top: 59px;
    padding-left: 16px;
    color: #ffffff;
    position: relative;
}
.s1_text h2{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.s1_text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-top: 8px;
}
.s1_img{
    position: absolute;
    top: -277px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 100px;
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
}
.footer ul{
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
.footer h2{
    font-size: 16px;
    font-weight: 600;
}